.pumka{
	margin-top: 150px;
	margin-left: 49%;
	font-size: 14pt;
}
.pochta{
	margin-left: 9%;
	color:black;
	text-decoration: none;
}
.pochta:hover{
	color:blue;
}
.nav228{
  margin-top: 380px;
  margin-left:22.4%;
  font-family: Calibri;
  font-size: 15pt;
  width: 200px;
}
.dostpin{
  margin-top: 10px;
  margin-left:50px;
}
.mastimarg{
  margin-top: 27px;
  margin-left:50px;
}
.pic777{
  height:196px;
  width:135px;
  margin-left: 32px;
  margin-top:5px;
}
.asdmain2{
  border:1px solid black;
  width:200px;
  height:300px;
  border-radius: 10px;
}